In [2]:
import pandas as pd
import numpy as np
import json
import csv
import sys
import json_to_csv

In [3]:
%run json_to_csv Reviews reviews1.json r1.csv
%run json_to_csv Reviews reviews2.json r2.csv
%run json_to_csv Reviews reviews3.json r3.csv
%run json_to_csv Reviews reviews4.json r4.csv
%run json_to_csv Reviews reviews5.json r5.csv

Just completed writing csv file with 15 columns

In [18]:
r1 = pd.read_csv('r1.csv')
r2 = pd.read_csv('r2.csv')
r3 = pd.read_csv('r3.csv')
r4 = pd.read_csv('r4.csv')
r5 = pd.read_csv('r5.csv')

In [25]:
r1.head()

,Reviews_Author,Reviews_AuthorLocation,Reviews_Content,Reviews_Date,"Reviews_Ratings_Business service (e.g., internet access)",Reviews_Ratings_Check in / front desk,Reviews_Ratings_Cleanliness,Reviews_Ratings_Location,Reviews_Ratings_Overall,Reviews_Ratings_Rooms,Reviews_Ratings_Service,Reviews_Ratings_Sleep Quality,Reviews_Ratings_Value,Reviews_ReviewID,Reviews_Title
0,amacwow,Philadelphia,Hotel is clean and very close to airport. Staf...,"April 7, 2012",NaN,NaN,4.0,5.0,4.0,4.0,4.0,NaN,4.0,UR127417978,“Excellent location for business travelers sta...
1,robinhenshaw,"Rochdale, United Kingdom",Very convenient for LAX (free shuttle). New ve...,"April 5, 2012",NaN,NaN,4.0,3.0,3.0,3.0,3.0,4.0,3.0,UR127319807,“City Centre Holiday Inn”
2,zorro-plata,Dunedin,The thing I like most about Holiday Inn LAX is...,"April 2, 2012",NaN,NaN,4.0,5.0,4.0,4.0,4.0,5.0,4.0,UR127160327,"“Value, convenient, but ...”"
3,judystoks,"Porter, MN",We stayed here one night before taking a cruis...,"March 27, 2012",NaN,NaN,5.0,5.0,5.0,4.0,5.0,4.0,4.0,UR126728543,“Great One Night Stay”
4,Qwik16,"Simsbury, Connecticut",This hotel is just minutes away from LAX with ...,"March 23, 2012",NaN,NaN,5.0,5.0,3.0,4.0,4.0,3.0,5.0,UR126534324,“Close to Airport”

In [16]:
r1.isnull().any()

Reviews_Author                                              False
Reviews_AuthorLocation                                       True
Reviews_Content                                             False
Reviews_Date                                                False
Reviews_Ratings_Business service (e.g., internet access)     True
Reviews_Ratings_Check in / front desk                        True
Reviews_Ratings_Cleanliness                                  True
Reviews_Ratings_Location                                     True
Reviews_Ratings_Overall                                     False
Reviews_Ratings_Rooms                                        True
Reviews_Ratings_Service                                      True
Reviews_Ratings_Sleep Quality                                True
Reviews_Ratings_Value                                        True
Reviews_ReviewID                                            False
Reviews_Title                                               False
dtype: bool

In [17]:
r1.describe()

,"Reviews_Ratings_Business service (e.g., internet access)",Reviews_Ratings_Check in / front desk,Reviews_Ratings_Cleanliness,Reviews_Ratings_Location,Reviews_Ratings_Overall,Reviews_Ratings_Rooms,Reviews_Ratings_Service,Reviews_Ratings_Sleep Quality,Reviews_Ratings_Value
count,22.000000,30.000000,168.000000,139.000000,188.000000,150.000000,164.000000,86.000000,167.000000
mean,3.136364,3.433333,3.589286,3.446043,3.132979,3.406667,3.286585,3.488372,3.347305
std,1.283427,1.072648,1.154685,1.143175,1.274336,1.193363,1.314223,1.299268,1.321409
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3.000000,3.000000,3.000000,3.000000,2.000000,3.000000,3.000000,3.000000,2.000000
50%,3.000000,3.000000,4.000000,4.000000,3.000000,4.000000,3.000000,4.000000,4.000000
75%,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,4.000000,4.750000,4.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000